<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693185516985-ivj7vm64mrjfopnhpe2aose6efvtqrnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693185516985-ivj7vm64mrjfopnhpe2aose6efvtqrnd</string>
	<key>API_KEY</key>
	<string>AIzaSyD5NqjWSJpq9VDZ7YHYtm178MM86vlwy68</string>
	<key>GCM_SENDER_ID</key>
	<string>693185516985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DDang.iOS-Again</string>
	<key>PROJECT_ID</key>
	<string>ddang-again</string>
	<key>STORAGE_BUCKET</key>
	<string>ddang-again.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693185516985:ios:997c8b0a5786e03cdbd268</string>
</dict>
</plist>